<div class="absolute bottom-0 h-80 w-full xl:inset-0 xl:h-full">
  <div class="h-full w-full xl:grid xl:grid-cols-2">
    <div class="h-full xl:relative xl:col-start-2">
      <% if @condition_image_url.present? %>
        <%= image_tag @condition_image_url, class: "h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" %>
      <% end %>
      <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
    </div>
  </div>
</div>
<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-2 xl:gap-x-8">
  <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
    <h2 class="text-base font-semibold text-indigo-300 mb-4">погода</h2>
    <p>
      <%= form_with url: root_path, method: :get, data: { application_target: "form" }, class: "w-3/4 relative" do %>
        <%= label_tag :query, "Location", class: "block text-sm font-medium text-white" %>
        <div class="relative rounded-md border border-gray-500 bg-gray-700 px-3 py-2 my-2 shadow-sm focus-within:border-slate-400 focus-within:ring-1 focus-within:ring-slate-700">
          <%= text_field_tag :query, @location || @query,
              placeholder: "postal code or city name",
              autofocus: :on,
              autocomplete: :off,
              required: true,
              data: {
                lpignore: true,
                application_target: "query",
                action: "change->application#getForecast"
              },
              class: "block w-full border-0 p-0 my-1 bg-gray-700 text-white placeholder-gray-400 focus:ring-0 sm:text-sm" %>
        </div>
      <% end %>
    </p>

    <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-1">
      <span data-application-target="loadingResults" class="text-white text-sm" hidden>
        loading 5-day forecast...
      </span>

      <div data-application-target="results">
        <% if @forecast.present? %>
          <span class="text-xs text-white"><%= "(using cached results)" if @cached_forecast %></span>
          <div class="my-6">
            <span class="block text-xl font-bold text-white">
              Current Conditions
            </span>
            <div class="block text-base text-gray-300">
              <%= image_tag @forecast.current_condition_icon_url, class: "condition-icon" %>
              <%= @forecast.current_condition %>
              <br>
              <span class="text-sm text-white mr-1">Temp</span>: <%= @forecast.current_temp  %>&deg;
            </div>
          </div>

          <% @forecast.days.each do |day| %>
            <div class="my-6">
              <span class="block text-xl font-bold text-white">
                <%= day.date.to_formatted_s(:day_dmy) %>
              </span>
              <div class="block text-base text-gray-300">
                <%= image_tag day.condition_icon_url, class: "condition-icon" %>
                <%= day.condition %>
                <br>
                <span class="text-sm text-white mr-1">Low</span>: <%= day.min %>&deg;
                <span class="text-sm text-white ml-1">High</span>: <%= day.max %>&deg;<br>
                <span class="text-sm text-white">Chance of Rain</span>: <%= day.chance_of_rain %>%<br>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
