<!DOCTYPE html>
<html>
  <head>
    <title>Pogoda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative bg-gray-900 xl:h-screen">
    <main data-controller="application">
      <%= yield %>
    </main>

    <script type="text/javascript">
      // Remove 1Password from page
      new MutationObserver(mutations => {
        for (const { addedNodes } of mutations) {
          for (const node of addedNodes) {
            if (node.tagName === 'COM-1PASSWORD-BUTTON' ||
                node.tagName === 'COM-1PASSWORD-MENU') {
              node.parentNode.removeChild(node)
            }
          }
        }
      }).observe(document.body, { childList: true })
    </script>
  </body>
</html>
